extends ../layouts/default

block js
	//- yandex maps
	script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="/js/yandex.js")
	if map.length
		script.
			showMap([#{map[0].coordX}, #{map[0].coordY}], #{map[0].zoom}, "!{map[0].content.replace(/\r\n/g,'')}")
		
block content
	if slides.length
		#carousel.carousel.slide(data-ride="carousel")
			if slides.length > 1
				ol.carousel-indicators
					each slider, ind in slides
						if ind == 0 
							li.active(data-target="#carousel" data-slide-to="0")
						else
							li(data-target="#carousel" data-slide-to=ind)
			.carousel-inner(role="listbox")
				mixin slide(image, title, descr)
					img(src="/upload/slides/#{image}")
					.carousel-caption
						h3= title
						p= descr
				each slider, ind in slides
					if ind == 0
						.item.active
							+slide(slider.image.filename, slider.title, slider.description)
					else
						.item
							+slide(slider.image.filename, slider.title, slider.description)
			if slides.length > 1
				.left.carousel-control(href="#carousel", data-slide="prev", role="button")
					span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				.right.carousel-control(href="#carousel", data-slide="next", role="button")
					span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
					span.sr-only Next
		
		hr

	//- Advantages

	if advantages.length
		h2 Advantages
		each advantage in advantages
			.col-xs-6.col-md-3
				.thumbnail
					img(src="/upload/advantages/#{advantage.image.filename}")
					.caption
						h3= advantage.title
						p= advantage.description

		hr

	if services.length
		h2 Services
		ul
			each service in services
				li= service.title
					i.glyphicon(class="glyphicon-#{service.icon}")
		a(href="#") more servises

		hr

	h2 Products
	mixin col
		.col-xs-6.col-md-4
			.thumbnail
				img(data-src="holder.js/100px250")
				.caption
					h3 caption
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

	+col
	+col
	+col
	a(href="/products") more products

	hr

	if feedbacks.length
		h2 Feedbacks
		each feedback in feedbacks
			.col-xs-6
				.thumbnail
					img(src="/upload/photos/#{feedback.photo.filename}")
					h4= feedback.name
					p= feedback.text
					i= feedback.company

		hr

	if map.length
		h2 Map
		#map

