extends ../layouts/default

block js
	//- yandex maps
	script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="/js/yandex.js")
	if map
		script.
			showMap([#{map.coordX}, #{map.coordY}], #{map.zoom}, "!{map.content.replace(/\r\n/g,'')}")
		
block content
	if slides.length
		#carousel.carousel.slide(data-ride="carousel")
			if slides.length > 1
				ol.carousel-indicators
					each slider, ind in slides
						if ind == 0 
							li.active(data-target="#carousel" data-slide-to="0")
						else
							li(data-target="#carousel" data-slide-to=ind)
			.carousel-inner(role="listbox")
				mixin slide(image, title, descr)
					img(src="/upload/slides/#{image}")
					.carousel-caption
						h3= title
						p= descr
				each slider, ind in slides
					if ind == 0
						.item.active
							+slide(slider.image.filename, slider.title, slider.description)
					else
						.item
							+slide(slider.image.filename, slider.title, slider.description)
			if slides.length > 1
				.left.carousel-control(href="#carousel", data-slide="prev", role="button")
					span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				.right.carousel-control(href="#carousel", data-slide="next", role="button")
					span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
					span.sr-only Next
		
		hr

	//- Advantages

	if advantages.length
		h2 Advantages
		each advantage in advantages
			.col-xs-6.col-md-3
				.thumbnail
					img(src="/upload/advantages/#{advantage.image.filename}")
					.caption
						h3= advantage.title
						p= advantage.description

		hr

	if services.length
		h2 Services
		ul
			each service in services
				li= service.title
					i.glyphicon(class="glyphicon-#{service.icon}")
		a(href="#") more servises

		hr
		
	if productCategories.length	
		h2 Products
		each category in productCategories
			.col-xs-6.col-md-4
				.thumbnail
					img(src="/upload/products/#{category.image.filename}")
					.caption
						h3= category.title
						p= category.description
	
		a(href="/products") Посмотреть все продукты
	
		hr

	if feedbacks.length
		h2 Feedbacks
		each feedback in feedbacks
			.col-xs-6
				.thumbnail
					img(src="/upload/photos/#{feedback.photo.filename}")
					h4= feedback.name
					p= feedback.text
					i= feedback.company

		hr

	if map
		h2 Map
		#map

